.xcodeproj
.xcshareddata
.xcworkspace
.pbxproj
.xcuserdata
.xcworkspacedata
MySwiftUIApp.xcodeproj/project.pbxproj
MySwiftUIApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.ipa
.zip
.env
*.p8